.drop-down-menu {
  position: relative;

  .title {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .sandwich {
    cursor: pointer;
    &.showTitle {
      display: none;
    }
    .bar {
      width: 25px;
      height: 4px;
      background-color: gray;
      margin-bottom: 2px;
      border-radius: 2px;
    }
  }

  .drop-down {
    position: relative;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    z-index: 2;

    &.right {
      left: -76px;
    }
    &.left {
      left: -5px;
    }
    &.close {
      display: none;
    }

    .menu-item {
      font-size: 1.1rem;
      cursor: pointer;
      padding: 3px;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    .sandwich.showTitle {
      display: inherit;
    }
    .title {
      display: none;
    }
  }
}
